<%= form_for(@promotional) do |f| %>
  <% if @promotional.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@promotional.errors.count, "error") %> prohibited this promotional from being saved:</h2>

      <ul>
      <% @promotional.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :campaign, params[:campaign] %>

  <%= link_to_function "Edit Html", "changeVisibility(html);", class: "button alert" %>
  
  <div class="field hidden" id="html">
    <br /><br /><br />
    <strong><%= f.label :html %></strong> - optional<br />
    <%= f.text_area :html %>
  </div>
  <br /><br /><br />
   <div class="field">
    <strong>Use .zip containing promotional email .html and all assets</strong><br />
    <%= f.file_field :folder , class: "button success"  %>
  </div>
  <br /><br /><br /><br />
  <div class="actions">
    <%= f.submit "Submit", class: "button success" %>
  </div>
<% end %>


<script>
  function changeVisibility(field_name){
    if ($(field_name).is(":visible")) {$(field_name).hide();}
    else {$(field_name).show();}
  };
</script>
<style>
  #promotional_html {width: 80%; height:600px;}
</style>