<p id="notice"><%= notice %></p>

<p>
  <b>Html:</b>
  <%= @promotional.html %>
</p>

<p>
  <b>Folder:</b>
  <%= @promotional.folder %>
</p>


<%= link_to 'Edit', edit_promotional_path(@promotional) %> |
<%= link_to 'Back', promotionals_path %>
