<%= form_for(@transactional) do |f| %>
  <% if @transactional.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transactional.errors.count, "error") %> prohibited this transactional from being saved:</h2>

      <ul>
      <% @transactional.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= hidden_field :campaign , @parent_campaign %>
  <div class="field">
    <%= f.label :xml %> - requires contents of .xml file / "payload"<br />
    <%= f.text_area :xml %>
  </div>
  <div class="field">
    <%= f.label :shell %> - requires contents of .html shell file<br />
    <%= f.text_area :shell %>
  </div>
  <br>
   <div class="field">
    Zipped /images folder for the .html shell<br /> 
    <%= f.file_field :folder %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit  %>
  </div>
<% end %>
