

<p id="notice"><%= notice %></p>

<%= link_to "Create New Xsl Module" , new_xsl_module_path(:transactional => @transactional), class: "button success" %> 
<%= link_to 'Edit Xml / Shell', edit_transactional_path(@transactional) , class: "button success" %> 
<br><br>

<%if @parent_campaign %>
<p>
  <b>Parent Campaign:</b><br>
  <%= link_to "#{@parent_campaign.name}" , @parent_campaign , class: "button success" %> <br><br>
</p>
<%end%>
<p>
  <b>Xsl Modules:</b> <br>	
  <% @transactional.xsl_modules.each do |mod| %> 
	<%= link_to "#{mod.order}" , mod , class: "button success" %>
  <%end%>
</p>
<br><br>
<p>
  <b>Shell:</b>
  <%= raw @transactional.shell %> <br><br>
</p>

<%= @transactional.unique_s3_name %> 
<br>



