
<div style="width:500px;">
  <em>
    Email tests with images present must have images inside a relative directory called "images"... 
    <br><br>Additionally, any .css or .js files must be in same directory as the .html file if you wish for them 
    to be hosted on S3 with the .html and images.
  </em>
</div>

<br><br>
<p>
  <b>Campaign Name:</b>
  <%= @campaign.name %>
</p>

<% if @campaign.promotional %>
  <%= link_to "Current Promotional Campaign" , promotional_path(@campaign.promotional) , class: "button success"  %>
<% else %>
  <%= link_to "New Promotional Campaign" , new_promotional_path(:campaign => @campaign) , class: "button success"  %>
<%end%>

<br /><br /><br />
<% if @campaign.transactional %>
  <%= link_to "Current Transactional Campaign" , transactional_path(@campaign.transactional) , class: "button success"  %>
<% else %>
  <%= link_to "New Transactional Test Campaign" , new_transactional_path(:campaign => @campaign) , class: "button success"  %>
<%end%>
<br /><br /><br />

<%= link_to 'Back', campaigns_path , class: "button alert" %> <%= link_to 'Edit Campaign', edit_campaign_path(@campaign) , class: "button alert" %>