
<%= form_for @email, :html => { :multipart => true } do |f| %>
  <% if @email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
      <% @email.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<style>
  input#email_subject{
    /*width:<%="#{(@parent_campaign.name.length + @parent_campaign.client_name.length)*7}px"%>;*/
    /* how to make the field width dynamically accomodate the number of characters to be generated? */
    width:400px;
  }

</style>


<% if @status == "QA" %>
  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject , :value=>"QA: #{@parent_campaign.client_name} #{@parent_campaign.name} - test# #{@parent_campaign.emails.where("status = ?" , "QA").count+1}" %>
    <!-- #{Time.now.to_formatted_s(:short)} -->
  </div>
  <div class="field">
    <%= f.label :recipients %><br />
   <%= f.select :recipients , @recipient_lists.collect {|x| [x.name , x.list] } , selected: [@recipient_lists.find_all {|list| list.name == "QA"}.first.name , @recipient_lists.find_all {|list| list.name == "QA"}.first.list]%>
  </div>
  <div class="hidden"><%= f.text_field :status , :value => "QA" %></div>

<%else%>

  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject , :value=>"#{@parent_campaign.name} - test# #{@parent_campaign.emails.where("status = ?" , "Testing").count+1}" %>
  </div>
  
   <div class="field">
    <%= f.label :recipients %><br />

    <% if @recipient_lists.map {|list| list.preferred}.include?(true) %>
      <%= f.select :recipients , @recipient_lists.collect {|x| [x.name , x.list] } , selected: [@recipient_lists.find_all {|list| list.preferred}.first.name , @recipient_lists.find_all {|list| list.preferred}.first.list]%> <i>Using your preferred list</i> 
    <%else%>
      <%= f.select :recipients , @recipient_lists.collect {|x| [x.name , x.list] } , selected: [@recipient_lists.find_all {|list| list.name == "Testing"}.first.name , @recipient_lists.find_all {|list| list.name == "Testing"}.first.list]%> -> <i>Using the default "Testing" list</i>
    <%end%>

  </div>
  

  <div class="hidden"><%= f.text_field :status , :value => "Testing" %></div>
<%end%>

  <div style="width:500px;" id="selected-recipients"></div>
  <br><br>

  <div class="field">
    <%= f.label :additional_recipients %> <br><em>( Separated by commas )</em><br /><br>
    <%= f.text_area :additional_recipients %> 
  </div>

  <div class="field">
    <%#= f.label :ignore_images %> Additional Recipients Only ? <em>(Only send mail to additional recipients listed)</em><br>
    <%= check_box_tag :additional_recipients_only %> 
  </div>


  <div class="field">
    <%#= f.label :ignore_images %> Ignore Images ? <em>(Will not cross reference /images folder and .html for inconsistency)</em><br>
    <%= check_box_tag :ignore_images %> 
  </div>

  <div class="hidden"><%= f.text_field :campaign_name , :value => @parent_campaign.id %></div>
   <div class="field">
    <%= f.label :folder %><br /> 
    <%= f.file_field :folder %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Send Tests" ,  class: "button success large" %>
  </div>
<% end %>




