<%#= @test.methods %>


<%= link_to "Delete All Emails and Clear S3" , "deleteall" , class: "button alert"%>
<h1>Previous Email Tests</h1>

<table>
  <tr>
    <th>Subject</th>
    <th>Recipients</th>
    <th><!-- Folder --></th>
    <th><!-- Actual Markup --></th>
    <th><b>Actions<b/></th>
    <th></th>
  </tr>

<% @emails.each do |email| %>
  <tr>
    <td><%= email.subject %> ||</td>
    <td><%= email.recipients %> ||</td> 
    <td><%#= email.folder.path %></td>
    <td><%#= truncate(email.markup, :length => 50) %></td>
    <td>-| <%= link_to 'Show', email %> | <%= link_to 'Edit or Re-Send', edit_email_path(email) %> | <%= link_to 'Destroy', email, method: :delete, data: { confirm: 'Are you sure?' } %> |-</td>
    <td></td>
  </tr>
<% end %>
</table>

<br><br><br>
<%#= @current_user.campaigns.collect {|camp| camp.emails }.flatten %>
