<%= form_for(@recipient_list) do |f| %>
  <% if @recipient_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipient_list.errors.count, "error") %> prohibited this recipient_list from being saved:</h2>

      <ul>
      <% @recipient_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <br />
  <div class="field">
    <%= f.label :list %><br />
    <%= f.text_area :list %>
  </div>
  <br />
  <div class="field">
    <%= f.label :purpose %><br />
    <%= f.select :purpose, RecipientList.purposes.map { |o| o } %>
  </div>
  <br />
  <div class="field">
    <%= f.label :office %><br />
    <%= f.select :office, RecipientList.offices.map { |o| o } %>
  </div>
  
  <%unless @recipient_list.all_users%>
    <div class="field">
      <%= f.label :preferred? %> <i>(Override default list in Test mode)</i><br />
      <%= f.check_box :preferred %>
    </div>
  <%end%>
  <br />
  <% if current_user.is_admin %>
    <div class="field">
      <%= f.label :all_users %> <i>(Make list available to all users)</i><br />
      <%= f.check_box :all_users %>
    </div>
  <%end%>
  <br /><br />
  <div class="actions">
    <%= f.submit "Update List" , class: "button success" %>
  </div>
<% end %>
