<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @recipient_list.name %>
</p>

<p>
  <b>List:</b>
  <%= @recipient_list.list %>
</p>

<p>
  <b>Preferred:</b>
  <%= @recipient_list.preferred %>
</p>

<p>
  <b>Preferred:</b>
  <%= @recipient_list.preferred %>
</p>


<%= link_to 'Edit', edit_recipient_list_path(@recipient_list) , class: "button success" %> 
<%= link_to 'Back', recipient_lists_path , class: "button success" %>
